

body {
    background-color: #ffffff; 
    transition: stroke 0.9s ease;
}
.h1{
    font-size: 150px;
    margin: 0;
    font-family: 'new times roman', serif;
    text-transform: uppercase;
    color: rgba(219, 227, 234, 0.499);
}

h1{
    font-size: 250px;
    margin: 20px;
    font-family: 'new times roman', serif;
    color: rgb(0, 0, 0);
}


.Fotografia {
    display: flex;
    justify-content: center;
   
}
@keyframes kolory {
    0% { color: rgb(227, 174, 82); }
    8% { color: rgb(227, 174, 82); }
    8.3% { color: orange; }
    16.3% { color: orange; }
    16.6% { color: yellow; }
    24.6% { color: yellow; }
    24.9% { color: green; }
    33% { color: green; }
    33.2% { color: red; }
    41.2% { color: red; }
    41.5% { color: rgb(14, 34, 81); }
    49.5% { color: rgb(14, 34, 81); }
    49.8% { color: yellow; }
    57.8% { color: yellow; }
    58.1% { color: green; }
    66.1% { color: green; }
    66.4% { color: red; }
    74.4% { color: red; }
    74.7% { color: rgb(232, 158, 209); }
    82.7% { color: rgb(232, 158, 209); }
    83% { color: rgb(213, 224, 230);}
    91% { color: rgb(213, 224, 230); }
    91.3% { color: rgb(223, 215, 150); }
    100% { color: rgb(223, 215, 150); }


}

.karuzela {
    margin-top: 100px ;
    margin-bottom: 40px ;
    margin-left: 70px ;
    margin-right: 70px ;
    width: 90%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    
}

.karuzela::-webkit-scrollbar {
    display: none;
}


.grupa {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: obrot 20s linear infinite;
    padding-right: 1em;
}


.zdj{
    flex: 0 0 5em;
    height: 250px;
    padding: 10px;
    
    font-size: 3rem;
    border-radius: .2em;
    align-content: center;
    text-align: center;
}


@keyframes obrot {
    from { translate: 0; }
    to { translate: -100%; }
}


.zdjecie {
            
    height: 250px;
    width: 250px;
    border-radius: 12px;
           
            
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    cursor: pointer;
    display: block;
}

        
.zdjecie:hover {
    transform: scale(1.08); 
}

      
.zdjecie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}
    
 
.rozkladfot{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    margin-top: 50px;
}

body.color-active {
    background-color: #181870; 
    transition: stroke 0.9s ease;
}

.aparat .st1 {

    transition: stroke 0.5s ease;
}

body.color-active .aparat .st1 {
    stroke: red; /* kolor po aktywacji */
}

.blysk {
    opacity: 0;
    fill: white;
}

.blysk-start {
    animation: blysk 2s;
}

@keyframes blysk {
    0% { opacity: 0; }
    10% { opacity: 0; }
    11% { opacity: 1; }
    35% { opacity: 1; }
    36% { opacity: 0; }
    41% { opacity: 0; }
    42% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
}

.aparat{
    
    .st0 {
        fill:none;
        stroke:#000000;
        stroke-width:2;
        stroke-linejoin:round;
        stroke-miterlimit:10;
    }
	.st1 {
        fill:none;
        stroke:#000000;
        stroke-width:2;
        stroke-linecap:round;
        stroke-linejoin:round;
        stroke-miterlimit:10;
    }
}


.podpis {
    padding-left: 40px;
    height: 170px;
    display: flex;
    align-items: flex-end;
    color: #85af8ea9;
}