.podpis {
    margin-top:150px;
    padding: 40px;
    display: flex;
    align-items: flex-end;
    color: #314284f3;
    background-color: #000000;
    font-size: 2rem;
}


body {
    
    margin: 0;
    padding: 0;
    background-color: #0b0a12;
}

      
header {
    display: flex;
    padding: 25px;
    background-color: #180d0d;
    animation:kolor 10s infinite;
}

@keyframes kolor {
    0% { background-color: #270808; }
    20% { background-color: #271706; }
    40% { background-color: #352c09; }
    60% { background-color: #2e1704; }
    80% { background-color: #2b0525; }
    100% { background-color: #270808; }
}

header a {
    letter-spacing: 2px;
    color: rgb(161, 159, 156);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    font-style: italic;
}

header a:hover {
    text-decoration: underline;
}

        
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-top: 60px;
    gap: 30px;
    flex-wrap: wrap; 
}

        
.image-container {
    width: 500px;
    height: 400px;
    overflow: hidden;
    border-radius: 8px;
    flex-shrink: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

       
.description {
    max-width: 500px;
    font-size: 1.1em;
    line-height: 1.5;
    color: #b1c4d9;
}
p {
    text-align: right;
    font-family: Arial, sans-serif;

}
h1{
    font-family: 'Georgia', serif;
    text-align: right;
    color: #d3d3d3;
}